*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: #121212;
    color: aliceblue;
}

main,section{
    width: 100%;
    height: 100%;
}

.navinfo{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.info{
    border: 2.7px solid #2A2A2A;
    border-radius: 12px;
    padding: 12px;
}
section{
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.board{
display: grid;
border: 2px solid #2A2A2A;
flex-grow: 1;
grid-template-columns: repeat(auto-fill,minmax(25px,1fr));
grid-template-rows: repeat(auto-fill,minmax(25px,1fr));
}
.bl{
    width: 25px;
    height: 25px;
    border: 1px solid #2A2A2A;
}
.snakebody{
    background-color: aliceblue;
}
.foodcolor{
    background-color:indianred;
}
.startMenu{
    height: 100vh;
    width:100vw;
    position: fixed;
    top: 0;
    background-color: #35353587;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-btn{
    height: 60%;
    width: 75%;
    gap: 18px;
    border-radius: 17px;
    padding: 8px;
    transition: transform 0.17s ease-in;
}
.start-btn:hover{
    transform: scale(1.16);
}
.startMenu div h3{
    margin-bottom: 8px;
}
.startMenu div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restartMenu{
    height: 100vh;
    width:100vw;
    position: fixed;
    top: 0;
    background-color: #35353587;
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
}
.restart-btn{
    height: 60%;
    width: 75%;
    gap: 18px;
    border-radius: 17px;
    padding: 8px;
    transition: transform 0.17s ease-in;
}
.restart-btn:hover{
    transform: scale(1.16);
}
.restartMenu div h3{
    margin-bottom: 8px;
}
.restartMenu div{
    display: flex;
    flex-direction: column;
    align-items: center;
}